<p id="notice"><%= notice %></p>

<p>
  <%= @chore.name %>
</p>

<%
  @due_date = @chore.last_done + @chore.every_x_days.days
  @days_elapsed = (Date.today - @chore.last_done).to_int

  if Date.today - @chore.last_done == 1
    @last_done = "yesterday"
  else
    @last_done = distance_of_time_in_words(@chore.last_done, Date.today) + " ago"
  end
  puts @last_done
%>

<p>
<% if Date.today == @chore.last_done %>
  You did this today
<% elsif Date.today < @due_date %>
  You last did this <%= @last_done %>
<% else %>
  Hey, you last did this <%= @last_done %>
  <% content_for :body_class, "overdue" %>
<% end %>
</p>

<%= link_to 'Edit this chore', edit_chore_path(@chore) %>
<%= link_to 'Show all chores', chores_path %>
